[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
catboost = "==0.24.2"
flask-wtf = "*"
flask = "*"
gunicorn = "*"
numpy = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.6"
