<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Predict passwords</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <style>
        .img-container {
          text-align: center;
          margin-top: 30px;
        }
      </style>
    

<body>
    <form method="POST">
    </form>

    <div class="img-container" style="display: flex; justify-content: center;">
    <img src="static/bojar.jpg">
    </div>    

    
</body>
</html>