<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Predict passwords</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <style>
        .img-container {
          text-align: center;
          margin-top: 30px;
        }
      </style>
    

<body>
    <h1 align='center'>Predict frequency of your password</h1>
    <form method="POST">
        <input type="text" class="form-control" name="password" placeholder="Input password here">
        <button type="submit" class="btn btn-primary btn-block mt-2" name="action">Predict</button>
    </form>

    <div class="col"></div>
    <label for="prediction">Prediction</label>
    <input type="text" class="form-control" id="prediction_id" placeholder="{{ prediction }}"
           readonly>
    </div>
    <div class="img-container" style="display: flex; justify-content: center;">
    <img src="{{ img }}">
    </div>    

    
</body>
</html>